/* accordion colors */
$accordionHandleBorder: transparent;
$accordionHandleColor: #fff;
$accordionHandleColorActive: #fff;

$accordionHandleBGColor: $orange;
$accordionHandleBGColorActive: $orange;

/* standard accordion */
.accordion.separated .accordion-item { margin-bottom: 15px; }
.accordion-item { margin:0; border: 1px solid #f8f7f2; background: #f8f7f2;}
.accordion-item-handle { position: relative; cursor: pointer; padding: 4px 44px 4px 8px; color: #fff; background: $accordionHandleBGColor; border: 1px solid $accordionHandleBorder; margin: -1px -1px 0;}
.accordion-item-handle.lg { font-size: 20px; }

.accordion-item-handle:after {
	/* sprite arrow */
	@extend .sprite-after:after;
	@extend .sprite-after.abs:after;
	@extend .sprite-after.arr-sm-down-white:after;
	left: auto; right:8px; top: 50%; margin-top: -10px;
	@include transform( none );
	@include transform-origin( center );
	@include transition( transform $ease-in-out-back 0.4s );
}

.expanded>.accordion-item-handle:after {
	@include transform( rotateZ(180deg) );
}

.no-csstransforms .expanded>.accordion-item-handle:after {
	/* sprite arrow */
	@extend .sprite-after.arr-sm-up-white:after;
}

.twox .accordion-item-handle:after {
	@extend .twox.sprite-after:after;
}

.threex .accordion-item-handle:after {
	@extend .threex.sprite-after:after;
}

.accordion-item-handle:hover,
.expanded>.accordion-item-handle { background: $accordionHandleBGColorActive; }
.accordion-item-handle>div { padding: 3px 10px; }
.accordion-item-content { display: none; padding: 10px;}
.ie8 .accordion-item-content { display: none !important; }
.ie8 .expanded>.accordion-item-content { display: block !important; }
.start-expanded>.accordion-item-content { display: block; }
.accordion-content-item p { border: none !important; }
.accordion-item-content ol,
.accordion-item-content ul { margin:-10px; padding: 12px 0; }
.accordion-item-content ul li a { display: block; color: $bodyContentColor; padding: 5px 12px;}
.accordion-item-content ul li a:hover { background: #cfcfcf; }