$sidebarWidth: 340px;

/* main body */
.main-body { padding: 0 0 20px; }
.main-body.with-sidebar { margin-right: -#{$sidebarWidth}; float: left; width: 100%; padding-right: 40px; }
.main-body.with-sidebar>div { margin-right: #{$sidebarWidth}; }
.main-body.with-sidebar+.sidebar { float: left; width: #{$sidebarWidth}; padding: 0 0 20px 0; color: #fff; font-family: $defaultFontStack; color: $bodyContentColor;}

.article-body { }

@each $element in h1,h2,h3,h4,h5,h6 {
	.article-body #{$element}+ul,
	.article-body #{$element}+ol { margin-top:0; }
}

.featured-image { margin: 0 0 20px; }
.featured-image .img {
	@extend img.block;
}

.article-head { border-bottom: 1px solid #d0c9c4; padding-bottom: 20px; margin-bottom: 15px; position: relative;}
.article-head .meta { text-transform: uppercase; display: inline-block; font-size: 14px; color: #918175; margin-right: 8px; }
.article-head .categories { position: absolute; top:0; right:0; }
.article-head .category { text-transform: none; }
.article-head .button { cursor: pointer; padding: 6px 12px;}

.article-body { }
.article-body { font-family: $defaultFontStack; color: $bodyContentColor;}
.article-body em { font-family: $italicFontStack; }
.article-body strong { font-family: $boldFontStack; }
.article-body strong em,
.article-body em strong { font-family: $boldItalicFontStack; }

.article-body a { color: $linkColor;}
.article-body a.visited,
.article-body a:visited { color: $visitedColor;}
.article-body a.hover,
.article-body a:hover { color: $hoverColor;}
.article-body { color: $bodyContentColor; }

.article-body ul,
.article-body ol { margin: 25px 0; }
.article-body li ul,
.article-body li ol { margin: 5px 0; }
.article-body li { position: relative; margin: 0 0 7px;  color: $bodyContentColor; font-size: 15px;  line-height: 1.6;}
.article-body ul li { padding-left: 18px;}
.article-body ul>li:before { content:""; width: 8px; height: 8px; border-radius: 4px; background: $green; display: block; position: absolute; 
	right: auto; left: 0; top:4px; margin-top: 4px; 
}

.article-body li li { color: #918175; }
.article-body ol { counter-reset: li; padding-left: 10px;}
.article-body ol li { list-style-type: none; padding-left:10px;}
.article-body ol>li:before { position: absolute; left: -10px; top: 0; content:counter(li); counter-increment:li; color: $green; font-family: $boldFontStack;}
.article-body ol ol>li:before { content:counter(li, lower-alpha); color: #918175; }
.article-body p { margin-bottom: 15px; font-size: 15px; line-height: 1.6;}
.article-body p+ul,
.article-body p+ol { margin-top:0; }

.article-body p.excerpt,
.article-body blockquote { color: $excerptColor; font-size: 18px; line-height: 1.4; }
.sidebar hr,
.article-body hr { margin: 14px 0; border: solid #ccc; border-width: 1px 0 0; }

.sidebar>div { margin: 0 0 20px; }
.sidebar .sb-title { color: #fff; background: $green; font-size: 18px; padding: 8px 12px; text-transform: uppercase; }

.event-map { display: none;}
.event-map.visible { display: block; }