/* body */
body { font-family: $defaultFontStack; line-height: 1.4; background-color: #fff; border-top: 45px solid $topGrey; }
body strong { font-family: $boldFontStack; font-weight: normal;}
body em { font-family: $italicFontStack; font-style: normal;}
body strong em,
body em strong { font-family: $boldItalicFontStack; }

.page-wrapper { margin: 0 auto; position: relative; width: 1600px; max-width: 100%; }
.sw { width: 1000px; max-width: 95%; margin: 0 auto; position: relative; }
#wrapper { position: relative; background: #fff; z-index: 9;}
.ie8 body { min-width: 1020px; }