/* buttons */
/* remove default button styling */
button { background: transparent; border: none; }

.button { font-family: $defaultFontStack; text-transform: uppercase; font-size: 14px; line-height: 1; padding: 12px; color: #fff !important; display: inline-block;}
.button.with-ico.sprite-before:before { margin-right: 4px; }
.button.with-ico.sprite-after:after { margin-left: 4px; }

.button.green { background: $green; }
.button.green.selected,
.button.green:hover { background: $orange; }

.button.orange { background: $orange; }
.button.orange.selected,
.button.orange:hover { background: $green; }

.button.white { background: #fff; color: $orange !important; }
.button.white:hover { background: $green; color: #fff; }