.grid-wrap { overflow: hidden; }
.grid { margin-left: -20px; }
.grid.centered {
	@include justify-content( center );
}
.grid:after { content:" ";display:block;height:0;line-height:0;clear:both;visibility:hidden;overflow:hidden}
.grid>[class*=col] { padding-left: 20px; float: left; padding-bottom: 20px; }
.grid>[class*=col]>.item { width: 100%;}
.flexbox .grid.fill>[class*=col] { 
	max-width: 50%; 
	@include flex-grow(1);
}

.grid.nopad { margin-left:0; }
.grid.nopad>[class*=col] { padding: 0; }
.grid.pad10 { margin-left: -10px; }
.grid.pad10>[class*=col] { padding-left: 10px; padding-bottom: 10px; }
.grid.pad5 { margin-left: -5px; }
.grid.pad5>[class*=col] { padding-left: 5px; padding-bottom: 5px; }

.grid.eqh { 
	@include flex-wrap(wrap);
}

.grid.eqh,
.grid.eqh>[class*=col] {
	@include display(flex);
}

.grid.eqh>[class*=col]>div {
	width: 100%;
}

.col-4 { width: 25%; }
.col-3 { width: 33.33333%; }
.col-2 { width: 50%; }
.col-1 { width: 100%; }

@media screen and (max-width: 750px) {
	.sm-col-2 { width: 50%; }
	.sm-col-1 { width: 100%; }
}

@media screen and (max-width: 500px) {
	.xs-col-1 { width: 100%; }
}

.no-flexbox .grid.collapse-no-flex>[class*=col] { width: 100% !important; }