/* hero */
.hero { background-color: $bodyBackground; height:510px; padding:0; position: relative; z-index: 2; overflow: hidden; }
.hero.single { height: 280px; }
.hero .swiper-wrapper { position: absolute; top:0; left:0; width: 100%; }
.hero .swiper-wrapper,
.hero .swipe,
.hero .swipe-wrap,
.hero .swipe-wrap>div,
.hero .item { height: 100%; }

.hero.single .swipe-wrap>div { float: none; }

.hero .item { position: absolute; top:0; left:0; width: 100%; z-index: 1; background-repeat: no-repeat; background-size: cover; background-position: center center;
	@include transition( opacity $ease-in-sine 0.4s );
}

.hero .swipe,
.hero .item { 
	@include opacity( 0 );
	@include transition( opacity $ease-in-sine 0.4s );
}

.hero .swipe {
	@include transition-delay( 0.2s );
}

.hero.loaded .swipe,
.hero .loaded>.item { 
	@include opacity( 1 );
}

.hero .text-wrap { position: absolute; top:0; left:0; right:0; bottom:0; text-align: center; z-index: 2;}
.hero .text-wrap:before { content:""; display: inline-block; vertical-align: middle; height: 100%; }
.hero .text { display: inline-block; vertical-align: middle; font-family: $boldFontStack; color: #fff; opacity:0.9; max-width: 95%; }
.hero .title { display: block; font-size: 52px;}
.hero .sub { display: block; width: 500px; font-size: 32px; max-width: 100%; }


/* links and controls */
.hero .slider-controls { position: absolute; left:0; right:0; bottom:20px; text-align: center; z-index: 10;}
.hero .button-controls .slider-controls a { background: #fff; border-width: 3px; border-color: #fff; }
.hero .button-controls .slider-controls a.selected { background: $green; }
.hero .links { width: 90%; max-width: 1000px; margin-left: auto; margin-right: auto; z-index: 10;}
.hero .links .previous {
	@extend .sprite.arr-big-left-white;
}

.hero .links .next {
	@extend .sprite.arr-big-right-white;
}