/* my simple responsive slider styles */
.srf { position: relative; overflow: visible !important;
		@include transform( translated3d(0,0,0) );
}
 .srf>.control-div { position: absolute; left:0; right:0; z-index: 2; bottom:0; }
.srf .slider { width: 100%; list-style: none; display: block; position: relative; z-index: 1;}
.srf .slider img { max-width: 100%; display: block; }
.srf .slider>* { position: absolute; top:0; left:0; right:0; z-index: -1; list-style: none; opacity:0; display: none;}
.srf .slider>*:first-child { position: relative; display: block; z-index: 1; opacity:1;}
.srf .slider_links { position: absolute; bottom:0; }
.srf .slider_links li { display: inline; }
.srf .slider_links a { cursor: pointer;}
.srf .slider_controls { position: absolute; z-index: 2; list-style: none; display: block; left:0; right:0; top: 50%; }
.srf .slider_controls a { position: absolute; display: inline-block; color: #fff; cursor: pointer;}
.srf .slider_controls a.next { right:0; }
.srf .slider_controls a.prev { left:0; }