.tab-holder,
.tab-controls,
.tab-wrapper { position: relative; }

.tab-holder .tab { visibility: hidden; position: absolute; top:0; left:0; width: 100%; opacity:0; filter: alpha(opacity=0); z-index: -1;}
.tab-holder .tab.selected { position: static; display: block; opacity:1; filter: alpha(opacity=100); visibility: visible;}
.tab-holder { overflow: hidden; }

.tab-controls { z-index: 2; }
.tab-holder { z-index: 1; }